.text-one {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

.text-one-sub {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.text-dos {
    font-family: 'Abel', sans-serif;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f18 {
    font-size: 18px;
}

.borde-left {
    border-left: 3px #28A745 solid;
    padding-left: 10px;
}