.minh-100 {
    height: 100vh;
}
.fondo{
    background-image: url("../../assets/imagenes/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: black;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: #4CAF50;
    font-weight: 700;
}
.mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #4CAF50;
}